<h3 class="classified-title">{{name}}</h3>

<p class="classified-list-item-preview">
<a href="{{urlToClassified this}}" class="th"><img src="{{first images}}" /></a>
</p>

<ul class="inline-list">
    <li>{{linkToClassified this}}</li>
    <li>{{linkTo "Editer" "classifieds/" _id "/edit"}}</li>
</ul>
