{{viewClass "classified-show"}}


<div class="small-12 columns">
    <h3 class="right">{{price}} €</h3>
    <h3 class="classified-title">{{name}}</h3>
</div>


<div class="small-9 columns">
    <div class="small-6 columns">
        <p>
            <a class="th"><img src="{{first images}}" /></a>
        </p>
        {{> classified/_images}}
    </div>
    <p>{{{nl2br content}}}</p>
</div>
<div class="small-3 columns text-right">
    <ul class="no-bullet">
        <li>Surface: {{surface}} m2</li>
        <li>Etage: {{etage}}</li>
    </ul>
    <ul class="no-bullet">
        <li>Charges: {{charges}} € / mois</li>
        <li>Foncier: {{taxe_foncier}} € / an</li>
        <li>habitation: {{taxe_habitation}} € / an</li>
    </ul>
    <ul class="no-bullet">
        <li>
            {{linkTo "Retour à la liste" "classifieds" class="button"}}
        </li>
        <li>
            {{linkTo "Editer" "classifieds/" id "/edit" class="button secondary tiny"}}
            <a href="{{this.link}}"  class="button secondary tiny" target="_blank">Voir sur le site</a>
        </li>
        <li>
        <p>{{#linkToEvent "foo:bar"}}
                Envoyer un message
                {{/linkToEvent}}</p>
        </li>
        <li>
            <a href="#" class="classified-delete button alert tiny">Supprimer</a>
        </li>
    </ul>
</div>
